<div class="container d-flex align-items-center justify-content-center vh-100">
  <div class="p-5 bg-primary text-dark">
    <h3 class="fw-normal mb-4">Your Personal Details</h3>

    <!-- Display Decoded User Details -->
    <div >
      <p>Email: {{ email }}</p>
      <p>Role: {{ role }}</p>
    </div>

    <!-- Form Fields -->
    <div class="row mb-4 pb-2">
      <div class="col-md-6">
        <div class="form-outline">
          <input type="text" placeholder="Enter First Name" class="form-control form-control-lg" [(ngModel)]="name" name="firstName" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-outline">
          <input type="text" placeholder="Enter Last Name" class="form-control form-control-lg" [(ngModel)]="surname" name="lastName" />
        </div>
      </div>
    </div>

    <input type="text" placeholder="Enter Phone Number" class="form-control form-control-lg" [(ngModel)]="contactNumber" name="phoneNumber" />
    <br>
    <input type="text" placeholder="Enter Email" class="form-control form-control-lg" [(ngModel)]="email" name="email" />
    <select class="form-select form-select-lg" [(ngModel)]="subscription" name="sendPromotionalEmail">
      <option [ngValue]="true">Yes, send promotional email</option>
      <option [ngValue]="false">No, do not send promotional email</option>
    </select>
    <br>
  </div>
</div>
