<div class="card-head">
  <h2>Email Notifications</h2>
</div>
<div class="card-header d-flex justify-content-between" >
  <h4>Email List</h4>
  <button class="flex-shrink-0 p-1 align-content-end btn btn-light p-1" >Send Email To All</button>
</div>
<div>
  <ul class="list-group list-group-flush">
    <!--List-item-->
    <li class="list-group-item pt-0">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0 me-3">

          <!-- <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="avatar rounded-circle" />-->
        </div>
        <div class="flex-grow-1">
          <h6 class="mb-0"></h6>
          <p class="mb-0 text-muted">{{emailList.at(0)}}</p>
        </div>
        <div class="flex-shrink-0 p-1 text-end">
          <span>
            <button class="btn btn-light p-1 bg-secondary" (click)="this.openForm()">Send Email</button>
          </span>
        </div>
      </div>
    </li>
    <li class="list-group-item pt-0">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0 me-3">

          <!-- <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="avatar rounded-circle" />-->
        </div>
        <div class="flex-grow-1">
          <h6 class="mb-0"></h6>
          <p class="mb-0 text-muted">{{emailList.at(1)}}</p>
        </div>
        <div class="flex-shrink-0 p-1 text-end">
          <span>
            <button class="btn btn-light p-1 bg-secondary" >Send Email</button>
          </span>
        </div>
      </div>
    </li>
    <li class="list-group-item pt-0">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0 me-3">

          <!-- <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="avatar rounded-circle" />-->
        </div>
        <div class="flex-grow-1">
          <h6 class="mb-0"></h6>
          <p class="mb-0 text-muted">{{emailList.at(2)}}</p>
        </div>
        <div class="flex-shrink-0 p-1 text-end">
          <span>
            <button class="btn btn-light p-1 bg-secondary">Send Email</button>
          </span>
        </div>
      </div>
    </li>
  </ul>
</div>
