<div class="card-head">
  <h2>Email Notifications</h2>
</div>

<div>
  <!-- Email Form -->
  <form (submit)="sendEmail()">
    <div class="mb-3">
      <label for="emailSubject" class="form-label">Subject:</label>
      <input type="text" class="form-control" id="emailSubject" [(ngModel)]="emailSubject" required>
    </div>
    <div class="mb-3">
      <label for="emailBody" class="form-label">Email Body:</label>
      <textarea class="form-control" id="emailBody" [(ngModel)]="emailBody" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send Email</button>
  </form>

  <!-- User List -->

  <div class="card-header d-flex justify-content-between">
    <h4>Email List</h4>
  </div>
    <li class="list-group-item pt-0" *ngFor="let user of emailList">
      <div class="d-flex align-items-center">
        <div class="flex-grow-1">
          <h6 class="mb-0"></h6>
          <p class="mb-0 text-muted">{{ user.email }}</p>
        </div>
        <div class="flex-shrink-0 p-1 text-end">
          <a class="btn btn-light p-1 bg-secondary" [href]="'mailto:' + user.email">Send Email</a>
        </div>
      </div>
    </li>

</div>
