<div class="container-fluid" style="padding-top: 0; padding-bottom: 0">
  <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
    <div class="col-lg-4">
      <a href="" class="text-decoration-none">
        <span class="h1 text-uppercase text-primary bg-dark px-2">Balkan</span>
        <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Tech</span>
      </a>
    </div>
    <div class="col-lg-8 text-right">
      <div class="weather-info" *ngIf="userLocation && temperature">
        <span>{{ userLocation.city }}, {{ temperature }}°C</span>
        <img *ngIf="iconSrc" [src]="iconSrc" alt="Weather Icon" class="weather-icon">
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-dark mb-30">
  <div class="row px-xl-5">
    <div class="col-lg-3 d-none d-lg-block">
      <div ngbDropdown class="d-inline-block">
        <button class="btn d-flex align-items-center justify-content-between bg-primary w-100" style="height: 65px; padding: 0 30px" id="dropdownCategories" ngbDropdownToggle>
          <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
          <i class="fa text-dark"></i>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownCategories" class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical">
          <ul class="main-categories-list">
            <li *ngFor="let mainCategory of mainCategories" class="category-item">
              <div class="category-content">
                <a href="" class="dropdown-item">{{ mainCategory.name }}</a>
                <ul class="subcategory-list" *ngIf="getSubcategories(mainCategory.id).length > 0">
                  <li *ngFor="let subcategory of getSubcategories(mainCategory.id)" class="subcategory-item">
                    <a href="" class="dropdown-item">{{ subcategory.name }}</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-9">
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
        <a href="" class="text-decoration-none d-block d-lg-none">
          <span class="h1 text-uppercase text-dark bg-light px-2">Balkan</span>
          <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Tech</span>
        </a>
        <button type="button" class="navbar-toggler" (click)="toggleNavbar()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" [ngClass]="{'show': !isNavbarCollapsed}" id="navbarCollapse">
          <div class="navbar-nav mr-auto py-0">
            <a [routerLink]="''" class="nav-item nav-link active">Home</a>
            <a [routerLink]="'products'" class="nav-item nav-link">Products</a>
            <a [routerLink]="'about-us'" class="nav-item nav-link">About Us</a>
          </div>
          <div class="col-lg-4 col-6 text-left">
            <form action="">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for products" [(ngModel)]="searchParam" name="searchParam">
                <div class="input-group-append">
        <span class="input-group-text bg-transparent text-primary">
         <fa-icon [icon]="faSearch" class="text-primary" (click)="searchProducts(searchParam)"></fa-icon>
            </span>
                </div>
              </div>
            </form>
          </div>

          <div class="navbar-nav">
            <!-- modali per sign in form -->
            <a class="btn px-0 ml-3">
              <fa-icon [icon]="faUserCircle" (click)="openLoginForm()" class="text-primary icons-custom-font-size"></fa-icon>
            </a>

            <!--cart-->
            <a class="btn px-0 ml-3" (click)="toggleCartDropdown($event)">
              <fa-icon [icon]="faShoppingCart" class="text-primary icons-custom-font-size"></fa-icon>
              <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">{{cartService.getTotalQuantity()}}</span>
              <div class="cart-dropdown" *ngIf="showCartDropdown" (click)="closeCartDropdown()">
                <ng-container *ngIf="cartService.getCartItems().length > 0; else noItems">
                  <div style="text-align: center;">
                    <span class="text-dark" style="font-weight: bold"> Cart Items</span>
                  </div>
                  <div class="dropdown-divider"></div>
                  <div *ngFor="let product of cartService.getCartItems()">
                    <span style="font-weight: bold"> {{ product.name }}
                    <span class="fal fa-minus-circle" style="margin-left: 5px;padding: 0rem 0.75rem;" (click)="cartService.decreaseQuantity(product.id)"></span>
                      <span class="fal fa-plus-circle active" (click)="cartService.increaseQuantity(product.id)"></span>
                    </span><br>
                    {{product.quantity}} x <span style="font-weight: bold">{{product.price}}$</span>
                    <br>
                    Subtotal: <span style="font-weight: bold; text-align: right;">{{product.price * (product.quantity ?? 1)}}$</span>
                    <div class="dropdown-divider"></div>
                  </div>
                  <span style="font-weight: bold">Total: {{cartService.getTotalPrice()}}</span>
                  <div class="dropdown-divider"></div>
                  <div class="row">
                    <button class="btn btn-secondary btn-sm" style="text-align: center; font-weight: bold; width: 25%; margin-left: 5%; margin-right: 5%" (click)="cartService.clearCart()">Clear</button>
                    <button class="btn btn-primary btn-sm" style="text-align: center; font-weight: bold; width: 60%" (click)="proceedToCheckout()">Checkout</button>
                  </div>
                </ng-container>
                <ng-template #noItems>
                  <div class="text-center text-muted">No items in the cart</div>
                </ng-template>
              </div>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
