<!-- category.component.html -->

<div>
    <h2>Categories</h2>
    <div class="card">
    <ul>
        <li *ngFor="let category of category; let categoryIndex = index">
            <strong *ngIf="editingCategoryIndex !== categoryIndex; else editCategoryInput">{{ category.name }}</strong>
            <ng-template #editCategoryInput>
                <input [(ngModel)]="editedCategoryName" placeholder="Edit Category">
            </ng-template>
            <a class="h6 text-decoration-none text-truncate btn btn-outline-dark" *ngIf="editingCategoryIndex !== categoryIndex" (click)="removeCategory(categoryIndex)">Remove</a>
            <a class="h6 text-decoration-none text-truncate btn btn-outline-dark" *ngIf="editingCategoryIndex !== categoryIndex" (click)="editCategory(categoryIndex)">Edit</a>
            <a class="h6 text-decoration-none text-truncate btn btn-outline-dark" *ngIf="editingCategoryIndex === categoryIndex" (click)="saveEditedCategory(categoryIndex)">Save</a>
            <ul>
                <li *ngFor="let type of category.types; let productIndex = index">
                    {{ type.name }}
                    <a class="h6 text-decoration-none text-truncate btn btn-sm btn-outline-dark" *ngIf="editingProductIndex !== productIndex" (click)="removeProduct(categoryIndex, productIndex)">Remove</a>
                    <a class="h6 text-decoration-none text-truncate btn btn-sm btn-outline-dark" *ngIf="editingProductIndex !== productIndex" (click)="editProduct(categoryIndex, productIndex)">Edit</a>
                    <ng-template #editProductInput>
                        <input [(ngModel)]="editedProductName" placeholder="Edit Product">
                    </ng-template>
                    <a class="h6 text-decoration-none text-truncate btn btn-sm btn-outline-dark" *ngIf="editingProductIndex === productIndex" (click)="saveEditedProduct(categoryIndex, productIndex)">Save</a>
                </li>
            </ul>

            <div>
                <input [(ngModel)]="newProduct" placeholder="New Product">
                <a class="h6 text-decoration-none text-truncate btn btn-sm btn-outline-dark" (click)="addProduct(categoryIndex)">Add Product</a>
            </div>

        </li>

    </ul>

    <div>
        <input [(ngModel)]="newCategory" placeholder="New Category">
        <a class="h6 text-decoration-none text-truncate btn btn-sm btn-outline-dark" (click)="addCategory()">Add Category</a>
    </div>
</div>
</div>

