.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

.category-item {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.category-header {
  font-weight: bold;
  font-size: 18px;
}

.edit-category-input {
  display: flex;
  flex-direction: column;
}


.product-list {
  list-style: none;
  padding: 0;
}


 input,
 textarea {
   width: 100%;
   padding: 8px;
   margin: 5px 0;
   box-sizing: border-box;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
 }

.category-actions a,
.add-product-container button {
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

hr {
  border: 1px solid #000000;
  margin: 10px 0;
}
