<div class="container-fluid pt-5 pb-3">
  <div class="row">
    <div class="col-lg-2 flex-column align-items-center" style="padding-bottom: 10px">
      <nav class="sidebar bg-dark">
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let category of category">
            <a [routerLink]="['/products', category.name]" class="nav-link">
              <h5 class="text-primary">{{ category.name }}</h5>
            </a>
            <ul class="nav-item bg-primary" *ngFor="let type of category.types">
              <a [routerLink]="['/products', category.name, type.name]" class="nav-link text-dark">
                {{ type.name }}
              </a>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-10 col-md-8 col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
