<div class="container-fluid pt-5 pb-3">
  <div class="row">
    <div class="col-lg-2 flex-column align-items-center" style="padding-bottom: 10px">
      <nav class="sidebar bg-dark">
        <ul class="nav flex-column">
          <div>
          <li class="nav-item" *ngFor="let mainCategory of mainCategories">
            <span>
              <h5 class="text-primary">{{ mainCategory.name }}</h5>
            </span>
            <ul class="nav-item bg-primary" *ngIf="getSubcategories(mainCategory.id).length > 0">
              <div *ngFor="let subcategory of getSubcategories(mainCategory.id)">
              <a [routerLink]="['/products/category', subcategory.id]" class="nav-link text-dark">
                {{ subcategory.name }}
              </a>
              </div>
            </ul>
          </li>
          </div>
        </ul>
      </nav>
    </div>
    <div class="col-lg-10 col-md-8 col-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
