<div class="about-us">
  <div class="About us">
    <h2>About us</h2>
    <p>We are the first company in the Balkans that offers the best quality
      with the right price of various products .</p>
  </div>

  <div class="employee-section">
    <div class="employee">
      <h3>Founder/ Enkel Berta</h3>
      <img src="" alt="Founder photo">

      <p>kljdgkljhgk qklfjekgj;tkjg klferklgjerkg</p>
    </div>

    <div class="employee">
      <h4>Ceo/ Kozak Braci</h4>
      <img src="" alt="Ceo photo">
      <p>klfjgkl kqergjkleget erkgje;kgj;let</p>
    </div>

    <div class="employee">
      <h5>Senior/ Clevio Serbiano</h5>
      <img src=".jpg" alt="Senior photo">
      <p>jdfjglkg dklfgjkjg;to ekgjetklgj</p>
    </div>
  </div>
</div>


  <div class="row px-xl-5">
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4" >
        <div class="product-img position-relative overflow-hidden" >
          <img src="https://img.freepik.com/premium-photo/mature-businessperson-portrait-formalwear-business-success-successful-man-businesslike-suit-male-formal-fashion-professional-unshaven-ceo-boss-with-grizzled-hair-confident-businessman_545934-1523.jpg" alt="">
        </div>
        <div class="text-center py-4">
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>Founder/ jjhd jsdkdj</h5>
      </div>
    </div>
  </div></div>




  <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
    <div class="product-item bg-light mb-4" >
      <div class="product-img position-relative overflow-hidden" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9wnMyCHE3dQov1JBDWwv8NTqbIVu9USfwtw&usqp=CAU" alt="">
      </div>
      <div class="text-center py-4">
        <div class="d-flex align-items-center justify-content-center mt-2">
          <h5>Founder/ jjhd jsdkdj</h5>
        </div>
      </div>
    </div></div>


    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4" >
        <div class="product-img position-relative overflow-hidden" >
          <img src="https://cdn.idolbirthdays.net/medias/profile/201801/leon-black.jpg" alt="">
        </div>
        <div class="text-center py-4">
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>Founder/ jjhd jsdkdj</h5>
          </div>
        </div>
      </div>
    </div>
  </div>













