<div class="about-us">
  <div class="About us">
    <h2>About us</h2>
    <p>We are the first company in the Balkans created in the 28/02/2023 that offers the best quality
      with the right price of various products .</p>
  </div>
</div>
<div class="row px-xl-5">
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4" >
        <div class="product-img position-relative overflow-hidden" >
          <h4>Founder/Arbri</h4>
          <img src="https://cdn.idolbirthdays.net/medias/profile/201801/leon-black.jpg" alt="">
        </div>
        <div class="text-center py-4">
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>Who he is, Education,Jobs and how he created the company</h5>
      </div>
    </div>
  </div></div>




  <div class="col-lg-3 col-md-4 col-sm-6 pb-1 offset-lg-1">
    <div class="product-item bg-light mb-4" >
      <div class="product-img position-relative overflow-hidden" >
        <h4>Ceo/Gledi</h4>
        <img src="https://cdn.idolbirthdays.net/medias/profile/201801/leon-black.jpg" alt="">
      </div>
      <div class="text-center py-4">
        <div class="d-flex align-items-center justify-content-center mt-2">
          <h5>Who he is, Education,Jobs and how he became the Ceo</h5>
        </div>
      </div>
    </div></div>


    <div class="col-lg-3 col-md-4 col-sm-6 pb-1 offset-lg-1">
      <div class="product-item bg-light mb-4" >
        <div class="product-img position-relative overflow-hidden" >
          <h4>Senior/Rezart</h4>
          <img src="https://cdn.idolbirthdays.net/medias/profile/201801/leon-black.jpg" alt="">
        </div>
        <div class="text-center py-4">
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>Who he is, Education,Jobs etc etc</h5>
          </div>
        </div>
      </div>
    </div>
  </div>













