<footer>
  <div class="footer">
    <div class="contact-Info">
      <h2>Contact us</h2>
      <p>No dolore ipsum accusam no lorem.   </p>
      <p>
        Invidunt sed
        clita kasd clita et
      </p>
      <p class="mb-2"><fa-icon [icon]="faMapMarker" class="text-primary"></fa-icon> 123 Street, New York, USA</p>
      <p><fa-icon [icon]="faEnvelope" class="text-primary"></fa-icon> balkanTech@gmail.com</p>
      <p><fa-icon [icon]="faPhone" class="text-primary"></fa-icon> +380682363085</p>
    </div>
    <div class="shopping-footer">
      <h2>Quick Shop</h2>
      <p>
        <a href="http://localhost:4200/home-page">Home Page</a>
      </p>
      <p><a href="">Shopping Cart</a></p>
    </div>
    <div class="account-footer">
      <h2>
        My Account
      </h2>
      <p>
        <a href="">Account Details</a>
      </p>
      <p>
        <a href="">Order History</a>
      </p>
    </div>
    <div class="socials-footer">
      <h2>Our Socials</h2>
      <p><fa-icon [icon]="faInstagram" class="text-primary"></fa-icon><a href="https://instagram.com"> Instagram</a></p>
      <p><fa-icon [icon]="faFacebook" class="text-primary"></fa-icon><a href="https://facebook.com"> Facebook</a></p>
    </div>

  </div>




</footer>


