<div class="footer">
    <div class="shopping-footer">
      <h2>Quick Shop</h2>
      <p class="mb-2">
        <a href="http://localhost:4200/home-page">Home Page</a>
      </p>
      <p class="mb-2"><a href="">Shopping Cart</a></p>
    </div>
    <div class="account-footer">
      <h2>
        My Account
      </h2>
      <p class="mb-2">
        <a href="">Account Details</a>
      </p>
      <p class="mb-2">
        <a href="">Order History</a>
      </p>
    </div>
    <div class="socials-footer">
      <h2>Our Socials</h2>
      <p class="mb-2"><fa-icon [icon]="faInstagram" class="text-primary"></fa-icon><a href="https://instagram.com/balkantech"> Instagram</a></p>
      <p class="mb-2"><fa-icon [icon]="faFacebook" class="text-primary"></fa-icon><a href="https://facebook.com/balkantech"> Facebook</a></p>
    </div>

  <div class="shopping-footer">
    <h2>Contact us</h2>
    <p class="mb-2"><fa-icon [icon]="faMapMarker" class="text-primary"></fa-icon><a href="https://maps.app.goo.gl/3ivtz1yMW91YR92s8" target="_blank" rel="noopener noreferrer" > Blv. “Dëshmorët e Kombit”,
      Tirana, Albania</a> </p>
    <p class="mb-2"><fa-icon [icon]="faEnvelope" class="text-primary"></fa-icon><a href="mailto:balkantech@gmail.com"> balkantech@gmail.com</a></p>
    <p><fa-icon [icon]="faPhone" class="text-primary"></fa-icon><a href="tel:+380682363085">+380682363085</a></p>
  </div>

  </div>
