h2{
  color:RGB(240, 240, 240);
}
footer{
  color: white;
  background-color: #6C757D;
  //margin: 3.5rem 2rem;
  padding: 1rem;
}
.contact-Info{
  display: block;
  margin: auto 2rem;
}
.footer{
  display: flex;
  flex-wrap: wrap;

}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: rgb(200,200,200);
}
.account-footer{
  margin: 0 2rem;

}
